/* write your css here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter",sans-serif
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  height: 100vh;
  background-image: radial-gradient(
      circle at 5% 25%,
      rgba(238, 190, 250, 0.6) 0%,
      transparent 20%
    ),
    radial-gradient(
      circle at 30% 10%,
      rgba(176, 151, 250, 0.5) 0%,
      transparent 25%
    );
}

.container {
  width: 45%;
}

.container-2 {
  margin-bottom: 8rem;
}

h2 {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.8rem;
  color: #495057;
  text-align: center;
  margin-bottom: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.name {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

label {
  font-weight: 600;
  letter-spacing: 0.5px;
}

input,
select,
option,
textarea {
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid #ced4da;
  border-radius: 6px;
}

.phone-no {
  display: flex;
  align-items: center;
  border-collapse: collapse;
}

.country {
  border-right: none;
  border-radius: 6px 0 0 6px;
  padding: 7px 0 8px 16px;
  color: #868e96;
}

.number {
  border-left: none;
  border-radius: 0 6px 6px 0;
  flex: 1;
}

.policy {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0 1rem 0;
}

.policy p {
  font-size: 1.6rem;
  text-align: left;
  align-self: center;
  margin: 0;
}

.policy-link:link,
.policy-link:visited {
  font-weight: 500;
  color: #4848e0;
  text-decoration: none;
}

.btn {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background-color: #4848e0;
  display: inline-block;
  padding: 0.8rem;
}

.btn:hover {
  background-color: #4040c2;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ced4da;
  border-radius: 28px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4848e0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4848e0;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
