/* write your css here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter",sans-serif;
}

body {
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}
