/* write your css here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
}

.bg {
  background-image: radial-gradient(
    closest-side,
    rgba(238, 190, 250, 0.7),
    transparent
  );
  height: 525px;
  width: 525px;
  z-index: -1;
  position: absolute;
}

.logo-icon {
  height: 20px;
  margin-left: 1rem;
}

.bg-1 {
  height: 200px;
  width: 200px;
  top: -8%;
  left: -2%;
}

.bg-2 {
  top: 0;
  left: 0;
  transform: translate(-10%, 0%);
}

.bg-3 {
  background-image: radial-gradient(
    closest-side,
    rgba(176, 151, 252, 0.7),
    transparent
  );
  top: 0;
  right: 50%;
  transform: translate(32%, -25%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.img {
  height: 2rem;
  margin-left: 3rem;
  margin-top: 3rem;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 6rem;
  justify-content: center;
  text-decoration: none;
  padding-left: 10rem;
}

.nav ul li {
  align-items: center;
  list-style: none;
  margin-top: 3rem;
  /* margin-right: 3rem; */
  font-size: 1.5rem;
  font-weight: 600;
}

.nav ul li a {
  text-decoration: none;
  color: #555;
  font-weight: 600;
}

.nav ul li a:hover {
  color: #4b2ecc;
}

.login-container {
  padding: 2rem;
  margin-top: 2rem;
}

.login {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 3rem;
  margin-top: 3.5rem;
  color: #555;
}

.login:hover {
  color: #4b2ecc;
  text-decoration: underline;
}

.read-more {
  text-decoration: none;
  font-weight: 700;
}

.read-more:hover {
  color: #4b2ecc;
  text-decoration: underline;
}

.container-2 {
  height: 100%;
  width: 100%;
}

.hero-section {
  margin-top: 14rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.announcement {
  padding: 1rem;
  font-size: 1.5rem;
  color: #999999;
  border: 2px solid #a7a3a367;
  border-radius: 3rem;
}

.main-heading {
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 5rem;
  text-align: center;
  color: #333;
}

.description {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #999999;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.buttons a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
  display: inline-block;
}

.get-started {
  background-color: #5e3bff;
  color: #fff;
}

.get-started:hover {
  background-color: #4b2ecc;
  color: #fff;
}

.learn-more {
  color: #333;
}

.learn-more:hover {
  color: #4b2ecc;
  text-decoration: underline;
}
